[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target
[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/neo-lisa
ExecStart=/home/ubuntu/env/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/ubuntu/neo-lisa/Service_1/Service_1.sock Service_1.wsgi:application

       
[Install]
WantedBy=multi-user.target